#installed:
Cython==0.18

numpy==1.7.0
wsgiref==0.1.2
distribute==0.6.27
pygame==1.9.2pre


#needed?:
numexpr==2.0.1
Pyro4==4.17
tables==2.4.0


# from pprint import pprint
# from pygame.locals import *
# import cPickle
# import math
# import os.path
# import pygame
# import random
# import sys
# import tables as tb
# import time

